@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr-principal: #128C7E;
    --clr-white: #fff;
    --box-shadow: 15px 15px 35px #c0c0c0;
    --bg-clr: #fdfdfd;
    --clr-btn: #086F64;
}

.body{
    height: 90vh;
    width: 100vw;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: repeat(no-repeat);
    grid-template-rows: repeat(3, 15vh 75vh 10vh);
    background-color: var(--bg-clr);
}

header.header{
    background-color:var(--clr-principal);
    padding: 10px;
    color: var(--clr-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main.content{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

section.box-qr,
section.form{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 80%;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
    padding: 15px 20px;
    border-radius: 30px;
}

div.box-contents{
    display: flex;
    flex-direction: column;
}

div.box-buttons-link{
    display: flex;
    column-gap: 10px;
    margin: 15px;
}

button.btn{
    width: 150px;
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.btn-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-principal);
}

button.btn-qrcode,
button.btn-link{
    background-color:var(--clr-btn);
    color: var(--clr-white);
}

input.input-form{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}

input.input-form:focus{
    outline: solid 1px #c0c0c0;
}

.tela-link{
    border: none;
    height: 30px;
}

.cx-qr{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.tela-qr{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    visibility: hidden;
}

footer.footer{
    width: 100%;
    height: 100%;
    background-color: #888;
    display: grid;
    place-items: center;
}

footer.footer p a{
    color: black;
}

@media (max-width: 760px) {
    header.header{
        flex-wrap: wrap;
    }
    main.content{
        flex-direction: column;
        padding: 30px;
        row-gap: 30px;
    }

    section.form,
    section.box-qr{
        width: 90%;
        row-gap: 5px;
    }

    section.box-qr{
        align-items: center;
    }

    input.input-form{
        width: 100% ;
    }
}